@charset "ISO-8859-1";

.box{
	border: black solid 1px;
	padding:10px;
}
.box h3{
	padding:5px;
	color: #4CAF50;
	font-size: 26px;
}

.table td{
	border: black solid 1px;
	padding: 5px;
}
.table th{
	border: black solid 1px;
	padding: 10px;
}

.button-default{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor:pointer;
}
