
.table{
	border:none;
	background-color:white;
	cell-padding:20px;
	
}
.table th{
	padding:20px;
	border:black solid 1px;
}
.table td{
	padding:10px;
	border:black solid 1px;
}
.button-edit{
	background: transparent;
    border: none;
    outline: none;
    background: #e0d841;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.button-delete{
	background: transparent;
    border: none;
    outline: none;
    background: #ed1818;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.button-default{
		background: transparent;
    border: none;
    outline: none;
    background: #10b02d;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;	
}